.ollie {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transform-origin: center center;

  .ollie__inner {
    width: 214px;
    height: 339px;
    margin: 0 auto;
    padding: 0 13px;
    overflow: hidden;
  }
}

.is-cockroach {
  .ollie__inner {
    animation: panic 14.241s linear;
  }
}

@keyframes panic {
  12% {
    transform: scale(1) rotate(0);
  }

  13% {
    transform: scale(1.3) rotate(-45deg);
  }

  14% {
    transform: scale(1.3) rotate(45deg);
  }

  16% {
    transform: scale(0.8) rotate(0);
  }

  21% {
    transform: scale(0.8);
  }

  22% {
    transform: scale(1.2) skewX(15deg);
  }

  23% {
    transform: scale(1) skewX(0);
  }

  24% {
    transform: scale(1.2);
  }

  38% {
    transform: scale(1);
  }

  39% {
    transform: scale(1.2);
  }

  62% {
    transform: scale(1);
  }

  63% {
    transform: scale(1.2);
  }

  86% {
    transform: scale(1);
  }

  87% {
    transform: scale(1.2);
  }

  88% {
    transform: scale(1.1);
  }
  89% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1.1);
  }
  91% {
    transform: scale(1.2);
  }
  92% {
    transform: scale(1.1);
  }
  93% {
    transform: scale(1.2);
  }
  94% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(1.2);
  }
}
