.eyebrows {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 82%;
  padding-bottom: 11%;
  transform: translateX(-50%);

  &:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 35%;
    width: 22%;
    padding-bottom: 1%;
    background-color: var(--c-eyebrows-95);
    transform: rotate(-20deg);
    box-shadow: 0 0 1px var(--c-eyebrows-95);
    border-radius: 50%;
  }

  &:after {
    content: '';
    position: absolute;
    right: -6%;
    top: 35%;
    width: 22%;
    padding-bottom: 1%;
    background-color: var(--c-eyebrows-95);
    transform: rotate(-20deg);
    box-shadow: 0 0 1px var(--c-eyebrows-95);
    border-radius: 50%;
  }
}
