.hair-buns-holder {
  position: absolute;
  top: 17%;
  left: 50%;
  width: 65%;
  padding-bottom: 65.4%;
  transform: translateX(-50%);
}

.hair-buns {
  position: absolute;
  bottom: -8%;
  width: 153%;
  left: 50%;
  padding-bottom: 54%;
  transform: translateX(-50%);

  &.is-active {
    animation: move_bun 0.5s linear;
    z-index: 2;
  }

  .hair-bun {
    position: absolute;

    &:nth-child(1) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 34%;
      padding-bottom: 35%;
      border-radius: 50%;
      overflow: hidden;
      background-color: var(--c-hair-bun-background);

      &:after {
        content: '';
        position: absolute;
        left: 2%;
        top: -5%;
        width: 260%;
        padding-bottom: 160%;
        border-left: 22px solid var(--c-hair-bun-d3);
        transform: translateY(-50%) rotate(-34deg);
        border-radius: 50%;
        box-shadow: -4px 3px 1px 0 rgba(#000, 0.2),
          -20px 0 5px 5px var(--c-hair-pink-ee), -1px 0 2px rgba(#000, 0.1),
          inset 1px 0 2px rgba(#000, 0.2), inset 1px 0 2px rgba(#000, 0.05),
          inset 5px 7px 0 10px var(--c-hair-base-color-fd);
      }

      .hair-bun__light {
        position: absolute;
        top: 49%;
        left: 20%;
        width: 26%;
        padding-bottom: 32%;
        transform: translateY(-50%);
        z-index: 2;
        opacity: 0.8;

        span {
          position: absolute;

          &:nth-child(1) {
            left: 12%;
            top: 20%;
            width: 69%;
            padding-bottom: 64%;
            background-color: rgba(#fff, 0.9);
            box-shadow: 0 0 3px 1px #fff;
            transform: rotate(31deg);
          }

          &:nth-child(2) {
            right: 5%;
            top: 25%;
            width: 40%;
            padding-bottom: 40%;
            background-color: #fff;
            transform: rotate(-21deg);
            box-shadow: 0 0 2px 0 #fff;
          }
        }
      }
    }

    &:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: -1%;
      width: 34%;
      padding-bottom: 35%;
      border-radius: 50%;
      background-color: var(--c-hair-red-fc);
      overflow: hidden;
      box-shadow: inset 3px -3px 3px 3px var(--c-hair-red-shadow-ba);

      .hair-bun__arcs {
        .hair-bun__arc {
          &:nth-child(1) {
            position: absolute;
            left: 30%;
            top: -14%;
            width: 130%;
            padding-bottom: 129%;
            border-radius: 50%;
            border: 12px solid var(--c-hair-silver-d2);
            border-bottom-width: 15px;
            transform: rotate(162deg);
            box-shadow: inset -3px 9px 2px 5px rgba(var(--c-hair-red-shadow-ba-rgb), 0.7),
              0 -18px 50px rgba(#000, 0.6);
            z-index: 2;

            &:after {
              content: '';
              position: absolute;
              left: 47.4%;
              bottom: 6%;
              width: 50%;
              padding-bottom: 69%;
              border-radius: 50%;
              box-shadow: -3px -14px 1px 5px rgb(#000, 0.2);
              transform: rotate(24deg);
            }
          }

          &:nth-child(2) {
            position: absolute;
            right: 67%;
            bottom: 0%;
            width: 150%;
            padding-bottom: 137%;
            border-radius: 50%;
            box-shadow: 0 0 0 12px var(--c-hair-silver-d2);
            z-index: 1;
          }

          &:nth-child(3) {
            position: absolute;
            right: 70%;
            width: 100%;
            padding-bottom: 100%;
            background-color: var(--c-hair-red-shadow-ab);
            border-radius: 50%;
          }
        }
      }

      .hair-bun__light {
        position: absolute;
        left: 56%;
        top: 41%;
        width: 43%;
        padding-bottom: 36%;
        z-index: 2;

        span {
          position: absolute;
          background-color: var(--c-hair-light-ff);

          &:nth-child(1) {
            position: absolute;
            left: 14%;
            top: 15%;
            width: 24%;
            padding-bottom: 23%;
            border-radius: 50%;
            box-shadow: 0 0 2px 2px var(--c-hair-light-ff),
              -1px 4px 2px 2px rgba(var(--c-hair-light-ff), 0.7);
          }

          &:nth-child(2) {
            position: absolute;
            left: 48%;
            top: 11%;
            width: 26%;
            padding-bottom: 34%;
            transform: rotate(36deg);
            border-radius: 40%;
            box-shadow: 0 0 2px 2px var(--c-hair-light-ff),
              2px -2px 2px 2px rgba(var(--c-hair-light-ff), 0.5),
              2px 3px 3px 3px rgba(var(--c-hair-light-ff), 0.7);
          }
        }
      }
    }
  }
}

@keyframes move_bun {
  0%,
  100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -5%);
  }
}
